.profile {
  background-color: rgba(176, 196, 222, 0.4);
  height: auto;
  width: 450px;
  padding: 50px 20px;
  margin: 10vh auto;
}

.avatar {
  display: flex;
  height: 230px;
  padding-top: 20px;
  margin: 0 auto;
  border-radius: 50%;
}

.description {
  position: relative;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  width: 350px;
  font-size: 29px;
  font-weight: 800;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px 0;
}

.tag {
  font-size: 20px;
  font-weight: 500;
  color: #c0c0c0;
}
.location {
  font-size: 20px;
  font-weight: 400;
  color: #c0c0c0;
}

.stats {
  position: relative;
  display: flex;
  width: 330px;
  justify-content: space-around;
  margin: 0 auto;
  background-color: rgba(175, 238, 238, 0.16);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.stats li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%;

  border-right: 0.5px solid #b1d4e0;
}
.stats li:last-of-type {
  border: none;
}
.quantity {
  font-size: 29px;
}
